<%= form_for @workshop do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @workshop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h3><%= f.object.name%></h3>

  <%= render partial: '/layouts/select_or_create_skills_form', locals: {f:f} %>

  <div class="actions">
   <%= f.submit %>
 </div>

<% end %>
