<div class="workshopDiv" id="<%=workshop.id%>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" id="workshop-name"> <%= workshop.name %></h3>
    </div>
    <div class="panel-body">
       <% if !workshop.officer.nil? %>
        <h4 id="workshop-officer"><%= "Officer: #{workshop.officer.fullname}"%></h4>
      <%end%>

      <h4 id="workshop-experts"><%= "Experts: #{workshop.list_experts}"%></h4>

      <% if is_admin? %>
        <%= link_to "Edit Workshop", edit_admin_workshop_path(workshop), class: "btn btn-primary", id: 'editWorkshopID'  %>
      <% elsif is_officer? %>
        <%= link_to "Edit Workshop", edit_workshop_path(workshop), class: "btn btn-primary", id: 'editWorkshopID'  %>
      <% end %>

      <p></p>

      <% if is_admin? || is_officer? %>

      <button type='button' id="getSkillsButton">Show Workshop Skills</button>
      <div id="getSkillsList">
        <div class="requiredSkills" style="display: none;">
          <table class="table">
            <thead>
              <caption>Required Skills</caption>
            </thead>
            <tbody class="currentSkills">
                <!--This is where the jQuery loads list of skills -->
            </tbody>
            <tfoot>
                <tr>
                  <td colspan="3" style="width: 200px" class="newSkillName"><a href="/workshops/<%=workshop.id%>/skills" id="newSkill"><strong>Add New Skill</strong></a></td>
                </tr>
              </tfoot>
          </table>
        </div>
      </div>

      <% else %>

      <div id="getSkillsList">
        <div class="requiredSkills" style="display: none;">
          <table class="table">
            <thead>
              <caption>Required Skills</caption>
            </thead>
            <tbody class="currentSkills">
              <%workshop.skills.each do |skill| %>
                <tr>
                  <td colspan="3" style="width: 200px"> <%= skill.name %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
