<h1><%= @workshop.name %> </h2>
<% if !@workshop.officer.nil? %>
  <h3><%= "Officer: #{@workshop.officer.fullname}"%></h3>
<%end%>
<% if is_admin? %>
  <%= link_to "Edit Workshop", edit_admin_workshop_path(@workshop), class: "btn btn-primary"  %>
<% end %>

<div class="requiredSkills" id="<%=@workshop.id%>">
  <table class="table">
    <thead>
      <caption>Required Skills</caption>
    </thead>
    <tbody class="currentSkills">
      <% if @workshop.skills.size != 0 %>
        <%@workshop.skills.each do |skill|%>
        <tr>
          <td style="width: 100px"><a href="/skills/<%=skill.id%>" class="deleteSkill"><strong>X</strong></a></td>
          <td style="width: 100px"><a href="/skills/<%=skill.id%>" class="editSkill"><strong>Edit</strong></a></td>
          <td class="currentSkill" id="<%=skill.id%>"><%=skill.name%> </td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
    <tfoot>
        <tr>
          <td colspan="3" style="width: 200px" class="newSkillName"><a href="/workshops/<%=@workshop.id%>/skills" id="newSkill"><strong>Add New Skill</strong></a></td>
        </tr>
      </tfoot>
  </table>
</div>
