<% type = @invoice.resource_class %>
<% isMembership = type == "member" %>
<% friendly_type = isMembership ? 'membership' : 'rental' %>

<div style="width: 100%">
  <h3> Failed <%= friendly_type %> payment to Manchester Makerspace</h3>
  <div>
    <p>Hi <%=@member.fullname%>!</p>
    <p>Your recent <%= friendly_type %> payment Manchester Makerspace was unsuccessful. The payment processor reported the following error status: <%= @error_status %>.
    
      <% if isMembership %>
        Your key fob will continue working until the end of your current membership term.
      <% end %>
    <p>
    <p>Please view your payment settings or contact an administrator for assistance, <%= link_to 'view your account', @url + "/settings", id: "profile-link"%></p>
      <% unless @invoice.plan_id.nil? %>
        The initial recurring subscription payment will automatically retry after 2 days and then 5 days. Failures after this timeframe will need administrator support to reactivate.
      <% end %>
  </div>
</div>
