<% type = @invoice.resource_class %>
<% isMembership = type == "member" %>
<% friendly_type = isMembership ? 'membership' : 'rental' %>

<div style="width: 100%">
  <h3> New <%= friendly_type %> subscription with Manchester Makerspace</h3>
  <div>
    <p>Hi <%=@member.fullname%>!</p>
    <p>Thank you for setting up automatic payments for your <%=friendly_type%>.</p>
    <p>Details regarding your recurring payments can be found below.</p>
    <br/>
    <%= render 'transaction_table' %>
    <br/>
    <p>Lastly, if you have any other questions, please reply to this email or email <a href="mailto:contact@manchestermakerspace.org?subject=Re:<%=message.subject%>" target="_top">contact@manchestermakerspace.org</a>. Hope to see you at the space soon!</p>
    <br>
    <p>--The Manchester Makerspace Team</p>
  </div>
</div>
