<% type = @invoice.resource_class %>
<% isMembership = type == "member" %>
<% friendly_type = isMembership ? 'membership' : 'rental' %>

<div style="width: 100%">
  <h3> Refund approved for <%= friendly_type %> payment to Manchester Makerspace</h3>
  <div>
    <p>Hi <%=@member.fullname%>!</p>
    <p>Refund of your <%=friendly_type%> purchase has been approved.</p>
    <p>Details regarding your purchase and refund can be found below.</p>
    <br/>
    <%= render 'transaction_table' %>
    <br/>
    <p>Lastly, if you have any other questions, please reply to this email or email <a href="mailto:contact@manchestermakerspace.org?subject=Re:<%=message.subject%>" target="_top">contact@manchestermakerspace.org</a>.</p>
    <br>
    <p>--The Manchester Makerspace Team</p>
  </div>
</div>
