<div class="form-group">

<%= form_for [:admin, @member] do |f| %>

  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><%= f.label :fullname %>
    <%= f.text_field :fullname %> </h4>
  </div>

  <div class="form-group role">
		<%= f.label :role %>
		<%= f.select :role, ['member', 'officer', 'admin'], class: "form-control" %>
	</div>

  <div class="login">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <%= f.submit "Update User", url: admin_member_path(@member), :method => :put  %>
<% end %>

</div>
