<%= form_for [:admin, @member], html: {class: 'new', style: 'display: none'}  do |f| %>
	<% if @member.errors.any? %>
		<div id="error_explanation">
			<h2>There were some errors:</h2>
			<ul>
				<% @member.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :fullname %><br />
		<%= f.text_field :fullname, autofocus: true %>
	</div>

	<div class="form-group">
		<%= f.label :cardID %>
		<%= f.text_field :cardID, class: "form-control" %>
	</div>

	<%= hidden_field :member, :accesspoints %>

	<div class="form-group">
		<%= f.label "Start Date" %>
		<input input='text' placeholder='mm/dd/yyyy' name='member[startDate]' id="member_startDate" class: "form-control" >
	</div>

	<div class="form-group role">
		<%= f.label :role %>
		<%= f.select :role, ['member', 'officer', 'admin'], class: "form-control" %>
	</div>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true %>
	</div>

	<div class="login">
		<div class="field">
			<%= f.label :password %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label 'Membership Length' %>
		<%= f.select :expirationTime, (1..12) %>
	</div>

	<%= f.submit %>
<% end %>

<%= render 'scan' %>

<div class="newMembers" style="display:none">
<h4> New Members: </h4>
</div>
