<div class="row shadow">
  <div class="col-sm-12">
    <h2><%= @member.fullname %> </h2>
    <h3><%= @member.email %> </h3>
    <% if is_admin? %>
      <%= link_to "Edit", edit_admin_user_path(@member), class: "btn btn-primary card"  %>
    <% end %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @workshops.each do |workshop| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=workshop.id%>">
          <h4 class="panel-title <%=@user.has_workshop(workshop)%>">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=workshop.id%>" aria-expanded="false" aria-controls="collapse<%=workshop.id%>">
              <%=workshop.name %>
              <%= is_officer?(workshop) ? (link_to "Train", edit_workshop_user_path(workshop),  class: "btn btn-info") : ""%>
            </a>
          </h4>
        </div>
        <div id="collapse<%=workshop.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=workshop.id%>">
          <div class="panel-body">
            <% if workshop.skills.empty? %>
              <%= "No skills requried for #{workshop.name}" %>
            <% else %>
              <% workshop.skills.each do |skill| %>
                <li class="<%=@member.skill_level(skill)%>"><%= skill.title %></li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
