<p>Lastly, if you have any questions, please reply to this email or email <a href="mailto:contact@manchestermakerspace.org?subject=Re:<%=message.subject%>" target="_top">contact@manchestermakerspace.org</a>. Hope to see you at the space soon!</p>
<p>-- The Manchester Makerspace Team</p>
<div>
  <%= link_to "https://manchestermakerspace.org/", style: "text-decoration: none;" do %>
    <%= image_tag 'makerspace.png' %>
  <% end %>
</div>
<br>

<strong>Follow us:</strong>
<div>
  <%= link_to "https://www.facebook.com/mhtmakerspace/", style: "text-decoration: none;" do %>
    <%= image_tag 'facebook-icon_32x32.png' %>
  <% end %>
  <%= link_to "http://instagram.com/mhtmakerspace", style: "text-decoration: none;" do %>
    <%= image_tag 'instagram-icon_32x32.png' %>
  <% end %>
  <%= link_to "https://www.youtube.com/channel/UCDmyqjLwLf6ieezg3D7MfMw", style: "text-decoration: none;" do %>
    <%= image_tag 'youtube-icon_32x32.png' %>
  <% end %>
  <%= link_to "https://twitter.com/mhtmakerspace", style: "text-decoration: none;" do %>
    <%= image_tag 'twitter-icon_32x32.png' %>
  <% end %>
  <%= link_to "https://www.linkedin.com/company/12903742/", style: "text-decoration: none;" do %>
    <%= image_tag 'linkedin-icon_32x32.png' %>
  <% end %>
</div>
<br>

<strong>Helpful Links:</strong>
<div>
  <% if (@url) %>
    <%= link_to 'My Account', url_for(action: :application, controller: 'application'), id: "profile-link"%> | 
  <% end %>
  <a href="http://manchestermakerspace.slack.com/">Team Slack</a> |
  <a href="http://wiki.manchestermakerspace.org/">Wiki</a>
</div>
