<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Member</th>
			<th>Renew</th>
			<th>Intro</th>
		</tr>
	</thead>
	<tbody>
		<% if @payments.size == 0 %>
			<tr>
				<td colspan="6">No payments found.</td>
			</tr>
		<% else %>
			<% @payments.each do |payment| %>
				<tr>
					<td><%= payment.product%></td>
					<% if !!payment.member %>
						<td class="success">
							<%= select_tag :member_id, options_for_select(@members.collect{|m| [m.fullname, m.id]}, selected: payment.member_id) %>
							<p>Payment Info: <%=payment.firstname%> <%=payment.lastname%> @ <%=payment.payer_email%></p>
						</td>
					<% else %>
						<td class="danger"><%= select_tag :member_id, options_for_select(@members.collect{|m| [m.fullname, m.id]}, selected: payment.member_id), include_blank: 'Select Member...' %>
							<p>Payment Info: <%=payment.firstname%> <%=payment.lastname%> @ <%=payment.payer_email%></p>
						</td>
					<% end %>
					<td><button type="button">Renew 1 Month</button></td>
					<td><button type="button">Send Intro</button></td>
		   	</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
