<div class="col-lg-12" id="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Manchester Makerspace</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Members", members_path, :class => 'navbar-link'  %> </li>
          <li><%= link_to "Workshops", workshops_path, :class => 'navbar-link'  %> </li>
          <li><%= link_to "Rentals", rentals_path, class: 'navbar-link' %></li>
          <% if is_admin? %>
            <li><%= link_to "New Member", new_admin_member_path, class: 'navbar-link' %></li>
            <li><%= link_to "Renew a Member", admin_renew_path, class: 'navbar-link' %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="auth">
          <div class="navbar-link">
            <%= render 'layouts/auth' %>

          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
