<h4> Skills: </h4>
<% if @workshop.skills.size == 0 %>
    No skills found.
<% else %>
  <div class="field checkbox-list well">
    <%= f.collection_check_boxes :skill_ids, @workshop.skills, :id, :title %>
  </div>
<%end%>

<h4>Create new skill(s): <h4>
<div class="form-group">
  <%= f.nested_fields_for :skills, @workshop.skills.build do |skills_fields| %>
    <%= skills_fields.remove_nested_fields_link %>

    <%=skills_fields.label :title %>
    <%=skills_fields.text_field :title %>

    <%=skills_fields.label :description %>
    <%=skills_fields.text_field :description %>
  <% end %>
  <%= f.add_nested_fields_link :skills %>
</div>
