<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div class='row'>
      <br>
        <form method='POST' action='/members/search_by'>
          <label>Search Members:</label>
           <select name='field'>
             <% Member.attribute_names.each do |attr| %>
                <option value='<%=attr%>'><%=attr%></option>
            <%end%>

            Value: <input type='text' name='value'>
            <input type='submit' name='Search'>
        </form>
		    <%= yield %>
	   </div>
  </div>
</body>
</html>
