<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery-ui.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'member', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skill', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'workshop', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
  <div class="container-fluid" ng-app="app">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
    <ui-view></ui-view>
  </div>
</div>
</body>
</html>
