<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <!-- <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %> -->
   <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
  <%= csrf_meta_tags %>
  </head>
<body>
  <div class="container-fluid" ng-app="app">
    <ui-view></ui-view>
  </div>
</div>
</body>
</html>
