<div class="form-group">
<%= form_for [@workshop, @member] do |f| %>

  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'workshop_id', @workshop.id %>

  <div class="field">
    <h4><%= f.label :fullname %>
    <%= @member.fullname %> </h4>
  </div>

  <h4><%= f.label 'Skills:' %> </h4>
  <h5>Workshop: <%= f.label @workshop.name %> </h5>
  <div class="well">
    <%= f.collection_check_boxes(:learned_skill_ids, @workshop.skills, :id, :name) do |b| %>
      <ul>
				<%=  b.label(:"data-value" => b.value) { b.check_box + b.text } %>
      </ul>
    <% end %>
  </div>

  <br>
  <%= f.submit "Update User" %>
<% end %>

</div>
