<h1>Members</h1>
<div class="well">
	<%= link_to "New Member", new_member_path, class: "btn btn-primary" %>
</div>

<form method='POST' action='/members/search_by'>
	<label>Search Members:</label>
	 <select name='field'>
		 <% Member.attribute_names.each do |attr| %>
				<% if attr == 'fullname' %>
					<option value='fullname' selected='selected'> Full Name </option>
				<% else %>
					<option value='<%=attr%>'><%=attr%></option>
				<% end %>
		<%end%>
		Value: <input type='text' name='value'>
		<input type='submit' name='Search'>
</form>
<br>
<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Status</th>
      <th>Expiration Time</th>
		</tr>
	</thead>
	<tbody>
		<% if @members.size == 0 %>
			<tr>
				<td colspan="6">No members found.</td>
			</tr>
		<% else %>
			<% @members.each do |member| %>
				<tr class='<%=member.membership%>'>
						<td><%= member.fullname %></td>
						<td><%= member.status %></td>
	          <td>
							<%= member.expTime %>
						</td>
						<!--<td>
							<%= link_to "Edit", edit_member_path(member), class: "btn btn-default" %>
						</td>
						<td>
							<%= button_to "Delete", member, method: :delete, data: { confirm: "Are you sure you wish to delete #{member.fullname}?" }, class: "btn btn-danger" %>
						</td>-->
			   	</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
