<%= render '/layouts/search' %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Allowed Workshops</th>
			<% if is_officer? || is_admin?%>
				<th>Membership Exp. Date</th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<% if @members.size == 0 %>
			<tr>
				<td colspan="6">No members found.</td>
			</tr>
		<% else %>
			<% @members.each do |member| %>
			<tr>
				<%if member_signed_in? %>
					<td><%= link_to "#{member.fullname}", member_path(member) %></td>
				<%else%>
				<td><%= "#{member.fullname}"%></td>
				<%end%>
          <td><%= member.list_allowed_workshops %> </td>
					<% if is_officer? || is_admin? %>
						<td class="<%=member.membership_status%>"><%=member.prettyTime.strftime("%m/%d/%Y") %></td>
					<%end%>
		   	</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
