<%= render '/layouts/search' %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Allowed Workshops</th>
			<% if is_officer? || is_admin?%>
				<th>Membership Exp. Date</th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<% if @members.size == 0 %>
			<tr>
				<td colspan="6">No members found.</td>
			</tr>
		<% else %>
			<% @members.each do |member| %>
				<%if is_officer? || is_admin? %>
				<tr>
					<td><%= link_to "#{member.fullname}", member_path(member) %></td>
				<%else%>
				<tr class="<%=member.membership_status%>">
					<td><%= "#{member.fullname}"%></td>
				<%end%>
	        <td>
						<button id="<%=member.id%>" class='show_workshops'>Show Allowed Workshops</button>
						<div style="display:none;">
							<%= member.list_allowed_workshops %>
						</div>
					</td>
					<% if is_officer? || is_admin? %>
						<td class="<%=member.membership_status%>Color"><%=member.prettyTime.strftime("%m/%d/%Y") %></td>
					<%end%>
		   	</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
