<div class="row shadow">
  <div class="col-sm-12">
    <h2><%= @member.fullname %> </h2>
    <h3><%= @member.email %> </h3>
    <h4>Membership Expiration Date: <%= @member.prettyTime.strftime("%m/%d/%Y") %></h4>
    <% if !@member.officer_of.empty? %>
      <h4>Officer of: <%=@member.officer_of.join(", ")%></h4>
    <%end%>
    <% if is_admin? %>
      <%= link_to "Edit", edit_admin_member_path(@member), class: "btn btn-primary card"  %>
    <% end %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @workshops.each do |workshop| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=workshop.id%>">
          <h4 class="panel-title <%=@member.allowed_workshops.include?(workshop)%>">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=workshop.id%>" aria-expanded="false" aria-controls="collapse<%=workshop.id%>">
              <%=workshop.name %> (Click to view required skills)
              <% if is_officer?(workshop) %>
                <%= (link_to "Train", edit_workshop_member_path(workshop, @member),  class: "btn btn-info")%>
              <% end %>
            </a>
          </h4>
        </div>
        <div id="collapse<%=workshop.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=workshop.id%>">
          <div class="panel-body">
            <% if workshop.skills.empty? %>
              <%= "No skills requried for #{workshop.name}" %>
            <% else %>
              <% workshop.skills.each do |skill| %>
                <li><%= skill.name %></li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
