<div class="row shadow memberPage" id="<%= @member.id%>">
  <div class="col-sm-12">
    <h2><%= @member.fullname %> </h2>
    <h3><%= @member.email %> </h3>
    <h4>Membership Expiration Date: <%= @member.prettyTime.strftime("%m/%d/%Y") %></h4>
    <% if !@member.offices.empty? %>
      <h4>Officer of: <%=@member.offices.pluck(:name).join(", ")%></h4>
    <%end%>
    <% if is_admin? %>
      <%= link_to "Edit", edit_admin_member_path(@member), class: "btn btn-primary card"  %>
    <% end %>

    <p></p>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @workshops.each do |workshop| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class"panel-title">
            <%=workshop.name %> (Click to view required skills)
            <% if is_officer?(workshop) %>
              <% if workshop.experts.include?(@member) %>

              <% elsif @member.allowed_workshops.include?(workshop) %>
                <%= (link_to "MAKE EXPERT", workshop_member_path(workshop, @member),  class: "btn btn-info expert", id: "#{workshop.id}") %>
              <% else %>
                <%= (link_to "TRAIN", edit_workshop_member_path(workshop, @member),  class: "btn btn-success train", id: "#{workshop.id}")%>
              <% end %>
            <% end%>
        </h4>
      </div>
        <div class="panel-body">
          <% if workshop.skills.empty? %>
            <%= "No skills requried for #{workshop.name}" %>
          <% else %>
            <% workshop.skills.each do |skill| %>
              <li><%= skill.name %></li>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
